@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat';
    color: white;
    margin: 0; /* Ensure all elements have zero margin */
    padding: 0; /* Ensure all elements have zero padding */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.container {
    height: 100vh;
    background-color: #171717;
}

nav {
    height: 90px;
    padding: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.left {
    display: flex;
    align-items: center;
}

h3 a{
    text-decoration: none;
}

.profile-photo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.page-body {
    display: flex; 
    height: calc(100vh - 90px); 
    
}

.right-div{
    flex: 1;
    
    height: 100%;
}

.left-div{
    /* background-color: aqua; */
    flex: 3;
    height: 100%;
}

.messages-container{
    width: 100%;
    height: 100%;
    padding: 40px;
}

.input{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input input{
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background-color: #1E1E1E;
    color: white;
    border-color: wheat;
}



ul{
    list-style: none;
    margin-top: 20px;
}

li{
    margin-bottom: 10px;
}

li:hover{
    background-color: #1E1E1E;
    cursor: pointer;
}

li a{
    text-decoration: none;
}

.channels{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.chats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.btn-channel{
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    background-color: #525252;
}

.list-channels{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.list-friend li{
    width: 100%;
    height: 90px;
    display: flex;
}

li .left-div{
    flex: 3;
    height: 100%;
}

li .right-div{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-friend img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px;
}


.left-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-div h1{
    margin-bottom: 200px;
    font-weight: normal;
}

.left-div .img-div{
   flex: 1;
}

.left-div .friend-name{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.last-msg{
    color: rgb(171, 171, 171);
}

h4{
    font-weight: normal;
}

.nomsg{
    display: flex;
    flex-direction: column;
    height: 100px;
}

.nomsg p{
    font-size: 0.9rem;
}
