@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/diablo');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.first-container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/dark\ horror\ fantasy\,\ ping\ pong\ paddles\,\ replace\ the\ character\ with\ ping\ pong\ player.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


.content {
  position: relative;
  z-index: 10;
}

li {
  display: flex;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

li a {
  display: flex;
}

.bodypage {
  width: 100%;
  height: 100vh;
}

.navbar {
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

.profile-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.search {
  background: url('../images/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: width 0.3s; /* Smooth transition for the hover effect */
}

.search-input {
	width: 0;
	opacity: 0;
	transition: width 0.3s ease, opacity 0.3s ease;
	height: 30px; /* Adjust as needed */
	border: none; /* Remove border */
	border-bottom: 1px solid rgba(255, 255, 255, 0.8); /* Add small underline */
	outline: none; /* Remove outline */
	padding: 5px;
	margin-left: 5px; /* Space between icon and input */
	background-color: transparent; /* Make input background transparent */
	color: #fff; /* Input text color */
	border-radius: 0; /* Remove rounded corners */
	position: absolute; /* Position it next to the search icon */
	right: 60px; /* Starts right after the search icon */
	pointer-events: none; /* Prevent interaction when not visible */
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative; /* Ensure the input expands within the nav-link */
}

.nav-link:hover .search-input {
	width: 200px; /* Expand the width on hover */
	opacity: 1;
	pointer-events: auto; 
}

.nav-link:hover .search {
  width: 60px; /* Adjust size if you want a smaller icon when input expands */
}

.notif {
  margin-bottom: 20px;
  background-image: url("../images/notif.svg");
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
}

.side-nav {
  overflow-y: auto;
  width: 110px;
  overflow-x: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  padding: 30px 15px;
  background: rgba(255, 255, 255, 0.034);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.4s;
  border-right: solid rgba(255, 255, 255, 0.39) 1px;
}

.side-nav:hover {
  width: 250px;
}

.sep {
  border: solid rgba(255, 255, 255, 0.219) 1px;
  width: 400px;
  margin-left: -100px;
}

.logo {
  width: 100px;
  height: 90px;
  margin-top: -20px;
  background: url('../images/mini\ pongx.png');
  background-position: center;
  background-size: cover;
  padding-left: 50px;
  transition: width 0.3s, max-height 0.3s;
}

.side-nav:hover .logo {
  width: 100%;
  height: 100px;
  max-height: 100px;
  background: url('../images/pongx.png') no-repeat center center;
  background-size: cover;
}

.side-nav li p {
  white-space: nowrap;
  display: none;
}

::placeholder {
	color: rgb(255, 255, 255); /* Placeholder color */
	font-weight: 400; /* Optional: adjust font weight of placeholder */
}


.side-nav:hover li p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.side-nav:hover ul li img {
  margin-right: 10px;
  width: 40px;
}

.bodypage ul {
  list-style: none;
  padding: 0 15px;
}

.bodypage ul li {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.bodypage ul li img {
  margin-right: 20px;
  width: 40px;
}

.btn:hover,
.btn:focus-visible {
  transform: translateY(-0.3rem);
  transition: transform 400ms;
}

.elements {
  flex-direction: column;
  gap: 50px;
}

.elements h1 {
  font-family: 'diablo';
}

.fixed-bottom .btn {
  font-family: 'Diablo';
  font-size: xx-large;
  color: antiquewhite;
  background-color: rgba(82, 77, 77, 0.603);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.836);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  width: 180px;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1050;
  margin: 100px;
}



/* Styles for the search results */
.search-results {
  position: absolute;
  top: 50px;
  left: auto; /* Change to auto to not affect the left positioning */
  right: 0; /* Aligns the container to the right */
  width: 400px;
  margin-right: 10px; /* Adds the right margin */
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  max-height: 140px;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: 1000;
  display: none;  /* Initially hidden */
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-results li:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Highlight on hover */
}

.search-results .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
}

.search-results .username {
  color: #fff; /* Text color */
  font-weight: 500;
}


/*



popup 



*/
.user-info-popup {
  position: fixed; /* Fixed position ensures it's always relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it horizontally and vertically */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  height: 400px;
  box-shadow: 35px 35px 35px rgba(0, 0, 0, 0.2);
  z-index: 1050; /* Increase z-index to ensure it stays on top of other elements */
  display: none; /* Start as hidden */
}

.user-info-popup.show {
  display: block; /* Show when 'show' class is added */
}

.user-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.user-card{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-card h2 {
  font-size: 30px;
  font-family: 'Diablo';
}

.user-actions{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-actions h2{
  font-size: 10px;
  font-family: 'Montserrat';
}


.user-actions button{
  font-family: 'Diablo';
  color: antiquewhite;
  background-color: rgba(82, 77, 77, 0.603);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.836);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}

.user-actions .message-btn{
  display: block;
}

.user-actions .request-text{
  display: none;
}

.user-actions .friend-btn{
  display: none;
}


.user-avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.user-details h2 {
  margin: 0;
}

.user-details p {
  margin: 5px 0;
  color: #666;
}

.popup-title{
  font-family: 'Diablo';
  font-size: 20px;
  color: rgba(196, 196, 196, 0.803);
  text-align: center;
  margin-top: 20px;
}

.latest-matches{
  margin: 10px;
  display: flex;
  width: 100%;
  height: 200px;
}

.latest-matches ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.latest-matches li{
  padding: 10px;
  margin: 10px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.latest-matches li .match-avatar{
  background-image: url('../images/bhazzout.jpeg');
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.latest-matches li .match-username{
  font-family: 'Diablo';
  font-size: 15px;
  color: antiquewhite;
}
.latest-matches li .match-result{
  font-family: 'Diablo';
  font-size: 15px;
  color: antiquewhite;
}