@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/KMzvb7R28rAE0kmrydqopWDZ-image-maker.jpg");
    background-size: cover;
    /* opacity: 0.9; */
}

html body {
    backdrop-filter: blur(5px);
}

header h1 {
    padding: 10px;
    /* padding-left: 50%; */
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: xx-large;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.466);
}

.container {
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}

.container .welcome-message {
    font-size: large;
}