@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/diablo'); */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

.first-container {
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100vh;
	background-image: url(../images/dark\ horror\ fantasy\,\ ping\ pong\ paddles\,\ replace\ the\ character\ with\ full\ body\ looking\ ping\ pong\ playe.jpeg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.navbar {
	justify-content: flex-end;
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}

::placeholder {
	color: rgb(255, 255, 255); /* Placeholder color */
	font-weight: 400; /* Optional: adjust font weight of placeholder */
}


.nav-link:hover .search-input {
	width: 200px; /* Expand the width on hover */
	opacity: 1;
	pointer-events: auto; 
}

.nav-link:hover .search {
  width: 60px; /* Adjust size if you want a smaller icon when input expands */
}

.search-input {
	width: 0;
	opacity: 0;
	transition: width 0.3s ease, opacity 0.3s ease;
	height: 30px; /* Adjust as needed */
	border: none; /* Remove border */
	border-bottom: 1px solid rgba(255, 255, 255, 0.8); /* Add small underline */
	outline: none; /* Remove outline */
	padding: 5px;
	margin-left: 5px; /* Space between icon and input */
	background-color: transparent; /* Make input background transparent */
	color: #fff; /* Input text color */
	border-radius: 0; /* Remove rounded corners */
	position: absolute; /* Position it next to the search icon */
	right: 60px; /* Starts right after the search icon */
	pointer-events: none; /* Prevent interaction when not visible */
}

.nav-link {
	display: flex;
	align-items: center;
	position: relative; /* Ensure the input expands within the nav-link */
  }
  
.nav-link:hover .search-input {
	width: 200px; /* Expand the width on hover */
	opacity: 1;
	pointer-events: auto; 
}

.nav-link:hover .search {
width: 60px; /* Adjust size if you want a smaller icon when input expands */
}

.profile-img {
	width: 50px;
	height: 50px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
}

.search {
	background: url('../images/search.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
}

.notif {
	margin-bottom: 20px;
	background-image: url("../images/notif.svg");
	background-size: contain;
	background-position: center;
	width: 40px;
	height: 40px;
}

.side-nav {
	width: 110px;
	overflow-x: hidden;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
	padding: 30px 15px;
	background: rgba(255, 255, 255, 0.034);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: width 0.4s;
	border-right: solid rgba(255, 255, 255, 0.39) 1px;
}

.side-nav:hover {
	width: 250px;
}

.sep {
	border: solid rgba(255, 255, 255, 0.219) 1px;
	width: 400px;
	margin-left: -100px;
}

.logo {
	width: 100px;
	height: 90px;
	margin-top: -20px;
	background: url('../images/mini\ pongx.png');
	background-position: center;
	background-size: cover;
	padding-left: 50px;
	transition: width 0.3s, max-height 0.3s;
}

.side-nav:hover .logo {
    width: 100%;
    height: 100px;
	max-height: 100px;
    background: url('../images/pongx.png') no-repeat center center;
    background-size: cover;
}

.side-nav li p {
	white-space: nowrap;
	display: none;
}

.side-nav:hover li p {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
}

.side-nav:hover ul li img {
	margin-right: 10px;
	width: 40px;
}


ul {
    list-style: none;
	padding: 0 15px;
}

ul li {
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

ul li img {
	margin-right: 10px;
	width: 40px;
}

.profile {
    width: 100%;
    height: 100vh;
}

.left {
    margin-left: 250px;
}

.right {
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.295);
    margin-right: 50px;
}

h1 {
	position: sticky;
	top: 0;
	z-index: 10;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: linear-gradient(to bottom, #5f0909, rgba(109, 109, 109, 0));
    color: #ffffff;
    padding: 20px;
    margin: 0;
    text-align: center;
	font-family: "diablo";
	backdrop-filter: blur(10px);
}

thead tr:last-child {
	text-align: start;
}

thead tr {
	background-color: rgba(109, 109, 109, 0.192);
	backdrop-filter: blur(10px);
	border-bottom: 5px solid rgba(0, 0, 0, 0.295);
}

thead tr th {
	font-family: 'diablo';
	color: rgb(255, 255, 255);
	font-size:larger;
	padding: 0.5rem 0;
	padding-left: 1rem;
}

tbody tr {
	padding-left: 1rem;
}

.blurred-content {
	box-sizing: border-box;
    background-color: rgba(109, 109, 109, 0.192); /* Semi-transparent background */
    border-radius: 50px;
    border-top: 5px solid rgba(0, 0, 0, 0.295);
    border-bottom: 5px solid rgba(0, 0, 0, 0.295);
    padding: 1rem;
	backdrop-filter: blur(10px);
}

.scroll {
	max-width: 700px;
	overflow-y: auto;
}

table {
    width: 100%; /* Ensure the table takes up the full width of the container */
    border-collapse: collapse;
}

tbody tr .score {
	padding-left: 2rem;
	font-family: 'diablo';
	color: rgb(255, 255, 255);
	font-size:larger;
}

tbody tr:first-child {
	border-top: none;
}

.profilestate {
	background-color: rgba(73, 73, 73, 0.329);
	backdrop-filter: blur(5px);
	border-radius: 30px;
	box-shadow: 0px 0px 20px 5px rgba(39, 39, 39, 0.5);
	flex-wrap: wrap;
	padding: 20px;
}

.profilestate img {
	box-shadow: 0px 0px 20px 5px rgba(8, 8, 8, 0.582);
}

.profilestate .name-rank {
	flex-grow: 1;
	margin-left: 1rem;
}

.name-rank h4 {
	font-family: diablo;
}

.profilestate h2 {
	color: #ffffff;
	font-weight: 2rem;
	font-size: 2.5em;
}

.progress-circle {
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: conic-gradient(from 0deg, var(--clr) 0%, var(--clr) 0% var(--i), #333 var(--i), #333 100%);
}

.progress-circle::before {
	content: '';
	position: absolute;
	inset: 10px;
	background: rgba(73, 73, 73, 0.329);
	border-radius: 50%;
}

.progress-circle h3 {
	position: absolute;
	font-weight: 500;
	font-size: 2.5rem;
}

.progress-circle h3 span {
	font-family: diablo;
	font-weight: 400;
	font-size: 2rem;
}

.progress-circle::after {
	content: '';
	inset: 10px;
	border-radius: 50%;
	background:rgb(0, 0, 0);
}

.lower-div .stat-content h2 {
	color: rgb(252, 241, 227);
	font-family: diablo;
	font-size: xx-large;
}

.lower-div .stat-content h4 {
	font-family: diablo;
	font-size: 2em;
}

.profilestate .upper-div .message img {
	box-shadow: none;
}

.profilestate .upper-div .message h4 {
	color: rgb(0, 0, 0);
	font-weight: 400;
	font-size: x-large;
}

/* .collectibale .first-collectibale,
.collectibale .second-collectibale,
.collectibale .third-collectibale,
.collectibale .fourth-collectibale {
    position: relative;
    width: 250px;
    height: 400px; 
    box-shadow: 0px 0px 20px 2px rgb(5, 5, 5);
	border-radius: 10px;
    z-index: 10;
    overflow: hidden;
}

.collectibale .first-collectibale img,
.collectibale .second-collectibale img,
.collectibale .third-collectibale img,
.collectibale .fourth-collectibale img {
    width: 100%;
    height: 100%;
	border-radius: 10px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */


/* #collectibleCarousel .carousel-inner {
    display: flex;
    justify-content: center;
} */

/* #collectibleCarousel .carousel-item {
    transition: transform 0.5s ease;
} */

.carousel {
    display: flex; 
    overflow-x: auto; 
    scroll-behavior: smooth; 
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    white-space: nowrap; 
    gap: 1rem; /* Adjust as needed */
	width: calc(100% - 60px);
}

.carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.carousel .first-collectibale,
.carousel .second-collectibale,
.carousel .third-collectibale,
.carousel .fourth-collectibale {
    display: inline-block; /* Ensures items align horizontally */
    width: 250px;
    height: 400px;
}

.pre-btn,
.nxt-btn {
	border: none;
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 9;
}

.pre-btn {
	left: 0;
	transform: rotate(180deg);
}

.nxt-btn {
	right: 0;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	background-color: rgb(28, 28, 29);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(63, 61, 61, 0.856);
	border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(250, 235, 215, 0.288);
}

.imgborder {
	padding-right: 250px;
	overflow: hidden;
    animation: rotate 5s linear infinite;
	filter: brightness(70%); 
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {
    .side-nav:hover {
        width: 110px; /* Keeps the width the same on hover */
    }

    .side-nav:hover .logo {
        width: 100px;
        height: 90px;
        margin-top: -20px;
        background: url('../images/mini\ pongx.png');
        background-position: center;
        background-size: cover;
        padding-left: 50px;
        transition: width 0.3s, max-height 0.3s;
    }

    .side-nav:hover li p {
        white-space: nowrap;
        display: none;
    }

    .left {
        margin-left: 110px;
    }
}