@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/diablo');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.containerr {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/lloginpic.jpg') no-repeat center center / cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    margin-right: 5%;
    text-align: right;
    color: #fff;
}

.headline {
    font-family: 'Diablo', sans-serif;
    font-size: 8em;
    line-height: 1.2;
    text-align: right;
    color: transparent;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
}

.word {
    display: block;
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInWord 1s ease forwards;
}

.word:nth-child(1) { animation-delay: 0.2s; }
.word:nth-child(2) { animation-delay: 0.5s; }
.word:nth-child(3) { animation-delay: 0.8s; }
.word:nth-child(4) { animation-delay: 1.2s; }


.word{
    font-family: 'Diablo';
}

@keyframes fadeInWord {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.login-link {
    font-family: 'Diablo';
    font-size: 1.5em;
    color: antiquewhite;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(90deg, #ce4343, #2a2a2a);
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInLogin 1s ease forwards;
    animation-delay: 1s;
}

a:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

@keyframes fadeInLogin {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.login-link:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
